:root{
    --base: #57f1f1;
    --blur: 10px;
    --spacing: 10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

img{
    max-width: 800px;
    max-height: 800px;
}

.hl{
    color: var(--base);
}
body{
    text-align: center;
}

body {
    background-color: black;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    font-weight: 100;
    background-size: cover;
}